/*Estilos Generales */

* {
    margin: 0;
    padding: 0;
}

/* Color */
:root{
    --color-text: #fff;
    --color-featured: #0ccbee;
    --color-background: #010100;
    --color-footer: #0ccbf0;
    --color-hr: #141414;
}

body {
   font-family: 'Raleway', sans-serif;
   background-color: var(--color-background);
   color: var(--color-text);
}

hr {
    background-color: var(--color-hr);
   
}

/*Section NavBar */

.navbar {
    width: 100%;

}


.navbar img{
    height: 30px;
    color: var(--color-text);
}

.navbar-color {
    background-color: var(--color-footer) 
}

/*Section Carousel*/
.image-fix {
    height: 950px;
    width: 100%;
}


/* Section About us */
.icon{
    background-color: var(--color-featured);
    }

/* Section Highlights */
.card{
    background-color: var(--color-featured);
    color: var(--color-text);
}

.card body{
    text-align: left;
    
}

.card img{
    height: 202.7px;
     object-fit: cover;
}

/* Section Form */
.btn{
    background-color: var(--color-featured);
}

/* Section Footer */
footer{
    background-color: var(--color-footer);
}
